@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Red+Hat+Display&display=swap');
@import "bourbon";

h1,h2{
  font-family: 'Bebas Neue', sans-serif;
}

/* html {
  height: 100%;
} */

body {
	background-color: #0d1f3f;
  background-image: url('./img/pexels-александар-цветановић-1440403.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Arial', sans-serif;
  color: #163872;
  margin: 0;
  font-family: 'Red Hat Display', sans-serif;
}

h1 {
  text-align: center;
  padding-top: 50px;
  font-size: 4em;
  text-shadow: 2.5px 2.5px 10px #fff0c7;
}

h2 {
  text-align: center;
  margin-top: 30px;
  font-size: 2em;
  text-shadow: 2.5px 2.5px 10px #fff0c7;
}

div {
  text-align: center;
  margin-top: 20px;
}

 input[type='button'] { 
  font-family: 'Red Hat Display', sans-serif;
  background-color: #163872;
  border: none;
  color: #fff0c7;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 2.5px 2.5px 10px #061123;
}

input[type='button']:hover {
  background-color: #0d1f3f;
  background: #333;
  border: 1px solid #333;
  color: #fff0c7;
  border-radius: 30px;
}

input[type='button']:focus {
  outline: none;
} 

footer {
  font-size: x-small;
  color: #163872;
  text-align: center;
}


/*cat animation*/
.cat-animation {
  display: inline-block;
  position: relative;
  width: 200px; /* Adjust container width */
  height: 200px; /* Adjust container height */
  margin-left: calc(50% - 100px); /* Adjust margin as needed - Updated to stay center - Nina */
}
.cat{
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	width:100px;
	height:100px;
	background:#fff;
	border-radius:50%;
	animation: cat-transform 10s;
	.ear{
		content:"";
		position:absolute;
		width: 0;
		height:0;
		border-style:solid;
		&.left{
			top:20px;
			left:20px;
			border-width: 20px 0 0 20px;
			border-color: transparent transparent transparent #fff;
			animation:ear-transform-left 10s;
		}
		&.right{
			top:20px;
			right:20px;
			border-style: solid;
			border-width: 0 0 20px 20px;
			border-color: transparent transparent #fff transparent ;
			animation:ear-transform-right 10s;
		}
	}
	.eye{
		position:absolute;
		width:20px;
		height:20px;
		border-radius:50%;
		background:#36465E;
		z-index:5;
		&.left{
			top:25px;
			left:25px;
			animation:eye-transform-left 8s;
			animation-delay:1s;
		}
		&.right{
			top:25px;
			right:25px;
			animation:eye-transform-right 8s;
			animation-delay:1s;
		}
	}
	.mouth{
		position:absolute;
		left:25px;
		bottom:15px;
		width:50px;
		height:25px;
		background:#36465E;
		border-radius: 0px 0px 25px 25px;
		animation:mouth-transform 8s;
		animation-delay:1s;
		.tongue{
			position:absolute;
			left:15px;
			width:20px;
			height:35px;
			border-radius:0 0 20px 20px;
			background:#FF89D5;
			animation: tongue-bounce infinite;
			animation-duration: .5s;
		}		
	}
	.tail{
		position:absolute;
		width:0;
		height:0;
		bottom:0;
		left:0;
		background:#fff;
		border-radius: 0 15px 15px 0;
		animation:tail-transform 8s;
		animation-delay:1s;
	}
}


@keyframes cat-transform {
	0%{
		width:100px;
		height:100px;
	}
	10%{
		width:100px;
		height:150px;
		border-radius:0;
	}
	90%{
		width:100px;
		height:150px;
		border-radius:0;
	}
	100%{
		width:100px;
		height:100px;
		border-radius:50%;
	}
}

@keyframes mouth-transform{
	0%{
		bottom:15px;
	}
	10%{
		bottom:80px;
	}
	90%{
		bottom:80px;
	}
	100%{
		bottom:15px;
	}
}
@keyframes tongue-bounce {
 	0%{
		height:35px;
	}
	50%{
		height:50px;
	}
	100%{
		height:35px;
	}
}

@keyframes ear-transform-left {
	0%{
		top:20px;
		left:20px;
	}
	10%{
		top:-20px;
		left:0px;
	}	
	90%{
		top:-20px;
		left:0px;
	}
	100%{
		top:20px;
		left:20px;
	}
}
@keyframes ear-transform-right {
	0%{
		top:20px;
		right:20px;
	}
	10%{
		top:-20px;
		right:0px;
	}	
	90%{
		top:-20px;
		right:0px;
	}
	100%{
		top:20px;
		right:20px;
	}
}

@keyframes eye-transform-left {
	0%{
		width:20px;
		height:20px;
		left:25px;
	}
	10%{
		width:10px;
		height:10px;
		left:15px;
	}	
	90%{
		width:10px;
		height:10px;
		left:15px;
	}
	100%{
		width:20px;
		height:20px;
		left:25px;
	}
}
@keyframes eye-transform-right {
	0%{
		width:20px;
		height:20px;
		right:25px;
	}
	10%{
		width:10px;
		height:10px;
		right:15px;
	}	
	90%{
		width:10px;
		height:10px;
		right:15px;
	}
	100%{
		width:20px;
		height:20px;
		right:25px;
	}
}

@keyframes tail-transform{
	0%{
		width:0;
		height:0;
	}
	10%{
		width:175px;
		height:15px;
	}
	90%{
		width:175px;
		height:15px;
	}
	100%{
		width:0;
		height:0;
	}
}
